@model OpenQbit.Masterdb.Common.Model.ResourceHierachyDetails

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ResourceHierachyDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChildResorce.DetailsXml)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildResorce.DetailsXml)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentResorce.DetailsXml)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentResorce.DetailsXml)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResourceHierachy.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResourceHierachy.ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
