@model IEnumerable<OpenQbit.Masterdb.Common.Model.ResourceHierachyDetails>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChildResorce.DetailsXml)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentResorce.DetailsXml)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourceHierachy.ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChildResorce.DetailsXml)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentResorce.DetailsXml)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResourceHierachy.ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
